@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap");

/* Default Font Sizes */
html {
  font-size: 17px;
}
@media (min-width: 321px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 420px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 481px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1420px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 1540px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1720px) {
  html {
    font-size: 21px;
  }
}

body {
  background-color: #3a2b3c;
  color: white;
  font-family: "Assistant", "Montserrat", sans-serif;
}
#nav .profile .agent-info{
  margin-right: 1rem;
  margin-left: 0;
}
#cover .content p span {
  display: inline-block;
}
#cover .content p {
  font-size: 0.9rem;
}
.dev-desc {
  line-height: 1.26rem;
}
#projects .project h3 {
  text-align: center;
}
#projects .project .asset-info {
  text-align: right;
  direction: rtl;
}
#projects .asset-info .location,
#projects .asset-info .price,
#projects .asset-info .type {
  padding-left: 0;
  padding-right: 20px;
}
#projects .asset-info .location::before,
#projects .asset-info .price::before,
#projects .asset-info .type::before {
  right: 0;
  left: none;
}
#projects .asset-desc p {
  direction: rtl;
  text-align: right;
  font-size: 0.92rem;
}
#projects .asset-info .price span {
  float: right;
  margin-top: 0.1rem;
}
#contact .form form {
  direction: rtl;
  text-align: right;
}

#contact .form form input {
  padding-right: 0.5rem;
  padding-left: 0;
}
.agent,
form {
  max-width: 98%;
  margin: 0 auto;
}
#contact .content .form {
  padding: 0;
}
#contact .content .agent {
  padding: 0;
}
#contact .profile {
  justify-content: center;
}
#contact .profile .agent-info {
  width: 40%;
  text-align: center;
  /* text-align: right;
  margin-right: 2rem; */
}
#contact .adress {
  text-align: center;
}

#contact .contact-details a img {
  width: 2.4rem;
}
/* #contact .form form input#fname, #contact .form form input#email, #contact .form form input#projectn {
  padding-right: 0;
} */

input::-webkit-input-placeholder {
  font-size: 1rem;
  line-height: 1.6rem;
}
/* .iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
  right: 0 !important;
  left: auto !important;
} */
/* #contact .form form input#phone {
  padding-right: 75px;
} */
.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
  direction: ltr !important;
}

@media (min-width: 1024px) {
  #cover .content p {
    font-size: 1.1rem;
    margin: 0.7em 0;
  }
  #projects .project .slide-content button {
    float: right;
  }
  #contact .content .form {
    padding: 0 2.2rem 0 0;
  }
  #contact .content .agent {
    padding: 0 0 0 2.2rem;
  }

  #contact .form form input#fname,
  #contact .form form input#email,
  #contact .form form input#projectn {
    width: 100%;
  }
  #contact .contact-details a:last-child img {
    margin-left: 0;
    margin-right: 0.5rem;
  }
  #contact .contact-details a:first-child img {
    margin-right: 0;
    margin-left: 0.5rem;
  }
  #contact .form form input {
    box-sizing: border-box;
  }
  #contact .contact-details a img {
    width: 2.8rem;
  }
}
