@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swapf');
 
/* CSS Reset */
html {
  width: 100%;
  height: 100%;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
}
 
body {
  margin: 0;
  color: #fff;
}

main {
  display: block;
}

h1 {
  font-size: 1.5rem;
  margin: 0.67em 0;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a, a:visited {
  color: #fff;
  text-decoration: none;
}
input { all: unset; }
input::-webkit-input-placeholder {font-size: 0.9rem;}
button{
  all: unset;
  background: #E16129;
  width: 120px;
  min-width: fit-content;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 0.02rem solid #794757;
}

/* Navigation */
#nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  /* display: flex; */
  height: auto;
  background-color: #000000e8;
}
#nav .profile{
   padding-top: 4rem;
  display: none;
}
#nav.open .profile{
  display: flex;
  transform: scale(0.85);
}
#nav .profile .agent-info img{
  background-color: transparent;
}
#nav .agent-info a{
  margin: 0;
}
#nav .nav-list{
  display:none;
  height: 101vh;
  /* padding-top: 6rem; */
}
#nav.open .nav-list{
  display:block;
}
#nav a{
  display: block;
  font-size: 1.3rem;
  margin: 3rem 1rem;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.645);

}
#nav .nav-list a{
  transition: 0.05s;
}
#nav .nav-list a:hover{
  transform: scale(1.05);
}

#nav .mob_menu_btn{
  position: absolute;
  top: 0;
  width: 29px;
  height: 30px;
  z-index: 9999;
  right: 1%;
  display: block;
  margin: 1rem;
}
#nav .mob_menu_btn::after,
#nav .mob_menu_btn::before,
#nav .mob_menu_btn span {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 2px;
  right: 0;
  background: #fff;
  transform: rotate(0deg);
  transition: 0.5s all ease;
  border-radius: 5px;
}
#nav .mob_menu_btn span {
  top: 13px;
  width: 100%;
}
#nav .mob_menu_btn:before {
  top: 0px;
}
#nav .mob_menu_btn:after {
  top: 25px;
}

#nav.open .mob_menu_btn:before {
  transform: rotate(45deg);
  top: 14px;
  right: -4px;
}
#nav.open  .mob_menu_btn span {
  opacity: 0;
}
#nav.open  .mob_menu_btn:after {
  transform: rotate(-45deg);
  top: 14px;
  right: -4px;
}
/* Nav for Desktop */
@media (min-width:1024px) { 
  #nav{
    background-color: #0000000f;
  }
  #nav.open .profile{
    display: none;
  }

  #nav .nav-list{
    display: block;
    height: 4rem;
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
  }
  #nav a{
    display: block;
    font-size: 1rem;
    margin: 0.2rem 0;

  }
  #nav .mob_menu_btn{
    display: none;
  }
}
/* Default Font Sizes */
html {
	font-size: 15px; 
}
@media (min-width:321px) { 
  html {
    font-size: 16px; 
  }
}
@media (min-width:420px) { 
  html {
    font-size: 17px; 
  }
}
@media (min-width:481px) { 
  html {
    font-size: 18px; 
  }
}
@media (min-width:768px) { 
  html {
    font-size: 17px; 
  }
}
@media (min-width:1024px) { 
  html {
    font-size: 15px; 
  }
}
@media (min-width:1200px) { 
  html {
    font-size: 16px; 
  }
}
@media (min-width:1600px) { 
  html {
    font-size: 17px; 
  }
}
/* Page Styles */
/* Mobile First *

/* General Styles */
body {
  background-color: #3a2b3c;
  color: white;
  font-family: 'Montserrat', sans-serif;
 
}
section {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  text-align: center;
}
.content h1{
  margin-bottom: 0.3em;
  text-align: center;
}
/* Specific Styles */

/* Cover Section */
#cover{
  align-items: end;
  background-color: #301c34;
  background-image: url('/assets/images/dubai-skyline-bcg-mobile.jpg');
  background-position: center;
}
@media (min-width:640px) { 
  #cover{
    align-items: end;
    background-color: #301c34;
    background-image: url('/assets/images/dubai-skyline-bcg.jpg');
    background-position: center;
  }
}
#cover .content {
  margin: 40px auto 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cover .content h1{
  font-size: 1.5rem;
  margin-bottom: 0;
  backdrop-filter: blur(2px);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.645);
  border-radius: 50px;
}
#cover .content p{
  font-size: 0.8rem;
  font-style: normal;
  color: #dc7140;
  color: #fff;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.645);
}
#cover .content p span{
  display: block;
}
#cover .content button{
  margin-top: 0.5rem;
  font-weight: 600;
  width: 150px;
}
/* Developers Section */
#developers{
  /* background: rgba(37, 20, 40, 0.90); */
  background-color: #251428;
    background-image: url('/assets/images/advantages-bcg.png');
}
#developers .content{
  margin: 5rem auto 0;
}

.developers-list{
  flex-direction: column;
  margin-top: 2rem;
}
.developers-list li{
  width: 360px;
  max-width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto 4rem;

}
.developers-list .dev-logo-wrapper{
  background-color: #000;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #E16129;
}
.developers-list .dev-logo-wrapper img{
  width: 100%;
  height: auto;
}
.dev-desc{
  margin: 1rem auto 1rem;
}
/* Projects Section */
#projects{
  background-image: url('/assets/images/projects-bcg.jpg');
}

#projects .content{
  height: 100vh;
  height: auto;
  width: 100%;
}

#projects .content #slider-container {
  width: 92%;
  max-width: 480px;
  border-radius: 20px;
  margin: 10px auto;
  padding-bottom: 3rem;
}
#projects #slider-container-list {
  align-items: flex-start;
}
#projects .content #slider-container .slides-lists .project{
  display: flex;
  flex-direction: column;
  padding: 30px 14px;
  background: #251428;
  height: fit-content;
  border-radius: 20px;
}
#projects .project  .asset-info {
  /* max-width: 70%; */
  margin: 0 auto;
  text-align: left;
}
#projects .asset-info .location p {
  color: #ffffffc2;
}
#projects .asset-info .location,
#projects .asset-info .price,
#projects .asset-info .type{
 padding-left: 20px;
 position: relative;
}
#projects .asset-info .location::before,
#projects .asset-info .price::before,
#projects .asset-info .type::before{
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
#projects .asset-info .location::before {
  background-image: url('/assets/icons/location.png');
}
#projects .asset-info .price::before {
  background-image: url('/assets/icons/price.png');
}
#projects .asset-info .type::before{
  width: 16px;
  height: 16px;
  background-image: url('/assets/icons/size.png');
}

#projects .splide__track.slides-lists{
  border-radius: 20px;
}
#projects .asset-info span{
  text-decoration: underline;
}
#projects .asset-info span,
#projects .asset-info p{
  padding: 2px 6px;
}
#projects  .asset-info .price p {
  font-weight: 700;
  padding-left: 0;
}
#projects .asset-info p {
  display: inline-block;
  margin: 0.2rem 0 0.6rem;
}
#projects .asset-desc p {
  text-align: left;
  font-size: 0.85rem;
}
#projects .project .splide__list li{
  display: flex;
  justify-content: center;
  height: 240px;
}
#projects .project  .image-container .splide__slide img {
  width: 100%;
  margin: auto;
  display: block;
}
.thumb-wrapper {
  overflow: hidden;
}
#projects .project  .thumbnails {
  height: auto;
  margin: 0.5rem auto 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  /* overflow: hidden; */
  display: none;
}
#projects .project .thumbnail {
  opacity: 0.6;
  margin: 0 2px;
}
#projects .project .thumbnail.is-active {
  opacity: 1;
}
#projects .project  .thumbnail img {
  width: 100%;
  height: auto;
  min-width: 50px;
  max-height: 50px;
  cursor: pointer;

  width: 82px;
  height: 50px;
}
#projects .project  .image-container .splide__slide img{
  width: 100%;
}

#projects #slider-container .slide .slide-content button{
  margin-top: 0.6rem;
}
.splide__track--nav>.splide__list>.splide__slide.is-active{
  border: none;
}
#projects .project .splide__arrow svg{
  -webkit-filter: invert(100%);
    filter: invert(100%);
}
#projects .project .splide__arrow{
  background-color: transparent;
  box-shadow: none;
}
#projects .project  .splide__arrow--prev,
 #projects .project  .splide__arrow--next{
  opacity: 1;
  top: 50%;
}
.splide__arrow--prev {
  left: -4vw;
  top: 34%;
}
.splide__arrow--next{
  right: -4vw;
  top: 34%;
}
#projects .project .splide__arrow--prev, #projects  .project .splide__arrow--next{
  opacity: 1;
  top: 42%;
  transform: scale(1.4);
}
#projects .project  .splide__arrow--prev{
  left: 0rem;
}
#projects .project .splide__arrow--next{
  right: 0rem;
}


/* Advantages Section */
#advantages{
  background-color: #251428;
  background-image: url('/assets/images/advantages-bcg.png');
}
#advantages .content{
  max-width: 90%;
  margin: 4rem 0 1rem;
}
#advantages .advtg-desc{
  font-size: 0.94rem;
  line-height: 1.3rem;
}
.advantages-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.advantages-list li{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  text-align: center;
}

.advantages-list li h2{
  margin: 1rem 0 0.5rem;
  font-weight: 400;
}
.advantages-list li img{
  width: auto;
  height: 5rem;
}
.advantages-list li p{
  margin: 0.5em auto;
  font-size: 0.86rem;
  line-height: 1.2rem;
  max-width: 92%;
}
.contact-label{
  display: none;
}
/* Contact Section */
#contact{
  background-color: #E16129;
}
#contact:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url('/assets/images/dubai-skyline-bcg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#contact .content {
  background-color: #251428;
  z-index: 1;
  text-align: left;
  height: 100%;
  width: 390px;
  max-width: 93%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 15px 10px; */
  padding: 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

#contact .content  .contact-container{
  display: flex;
  margin: 2rem 0;
  flex-direction: column;
}

#contact .content h1 span{
  display: block;
  text-align: center;
}
 .profile{
  display: flex;
  align-items: center;
}
.profile .agent-info{
  margin-left: 1rem;
  /* font-size: 1.2rem; */
}
.profile .agent-info h3, 
.profile .agent-info p{
  margin: 0.2rem;
  white-space: nowrap;
}
 .profile img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.profile .agent-info img {
  width: 70%;
  height: auto;
  border-radius: 2px;
  padding: 0px 5px;
  background-color: #251428;
}
#contact .contact-details{
  justify-content: start;
}
#contact .contact-details a{
  text-decoration: none;
  display: block;
}
#contact .contact-details a img{
  width: 2.8rem;
  margin: 0 0.5rem;
}
#contact .adress p{
  margin: 0.3rem;
  font-size: 0.6rem;
  line-height: 0.9rem;
}
#contact .form form{
  display: flex;
  flex-direction: column;
}
#contact .form form input{
  margin-bottom: 1em;
  border-radius: 5px;
  height: 1.5em;
  background-color: #fff;
  color: #251428;
  padding: 5px 4px;
}
#contact form button {
  width: 120px;
  padding: 10px;
  margin: 0 auto;
  color: #000;
  font-weight: 600;
}
#contact .profile, #contact .adress{
  margin-bottom: 10px;
}
#contact .contact-details{
  margin: 1rem auto;
}
#contact .success,
#contact .error{
  display: none;
  margin-top: 1rem;
  min-height: 7rem;
}
#contact .success h4,
#contact .error h4{
  margin: 0.25rem 0;
  font-weight: 500;
}
#contact .error button{
  margin-top: 1rem;
}
#contact  .spinner {
  height: 80%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 1;
}


@media (min-width:720px) { 
  #projects .content { 
   max-width: 90vw;
  }
  }
/* Desktop Styles */

@media (min-width:1024px) { 
  /* General */
  section {
    height: 100vh;
    min-height: 700px;
  }

  h1 {
    font-size: 2.2rem;
  }

  button.cta{
    transition: 0.01s;
  }
  button.cta:hover {
    background-color: #e16129e8;
    transform: scale(1.01);
  }

  /* Cover Section */
  #cover .content {
    margin: 40px auto 3rem;
  }
  #cover .content h1{
    font-size: 2rem;
    transition: none;
  }
  #cover .content p span{
    display: initial;
  }
  #cover .content p::before,
  #cover .content p::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 20px;
    background-color: #E3642A;
    background-color: #fff;
  }
  #cover .content p::before{
    left: -25px;
    top: 45%;
  }
  #cover .content p::after{
    right: -25px;
    top: 45%;
  }
/* Developers Section */
  #developers .content {
    width: 1300px;
  }
  .developers-list{
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3rem;
  }
  .developers-list li{
    width: 18rem;
    margin: 2rem 1.5rem 4rem;
  }
  .dev-desc {
    height: 14rem;
  }
  /* Projects Section */
  #projects .content #slider-container {
    max-width: 1040px;
    padding-bottom: 1rem;
  }
  #projects #slider-container-list {
    align-items: center;
  }
  #projects .splide__list {
    align-items: initial;
  }
  #projects .project .splide__list li{
    height: 300px;
  }
  #projects .content #slider-container .slides-lists .project{
    flex-direction: row;
    padding: 2.4rem;
    min-height: auto;
  }
  
  #projects .project  .slide-images,
  #projects .project  .slide-content{
    width: 50%;
  }
  #projects .project .slide-content {
    width: 50%;
    padding-left: 2rem;
  }
  
  #projects .project  .thumbnails {
    display: flex;
  }

  #projects .project h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: left;
  }
  #projects .project .slide-content button{
    float: left;
  }
  .splide__arrow--prev, .splide__arrow--next{
    top: 50%;
  }
  #projects  .splide__arrow--prev {
    left: -3rem;
  }
  #projects  .splide__arrow--next {
      right: -3rem;
  }

  #projects  .splide__pagination{
    bottom: -2rem;
  }

  /* Advantages Section */
  #advantages .content{
    max-width: 1300px;
    margin: 5rem auto 0;
  }
  .advantages-list{
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin: 4.3rem 0 3rem;
  }
  .contact-label{
    display: block;
    font-size: 1.2rem;
    text-decoration: underline;
    cursor: pointer;
  }
  #advantages .advtg-desc,
  .advantages-list  li p{
    font-size: 0.95rem;
    line-height: 1.2rem;
  }

  #advantages .advtg-desc{
    max-width: 51rem;
    margin: 1.5rem auto 2rem;
  }
  .advantages-list li{
    max-width: 20%;
    margin: 0 2%;
  }
  .advantages-list li h2 {
    margin: 1.5rem 0 1.2rem;
    border-radius: 25px 0px;
    border-radius: 15px;
    border: 2px solid #DD6223;
    background: #DD6223;
    padding: 2px 10px;
    min-width: 200px;
  }
  /* Contact Section */
  #contact .content {
    height: auto;
    width: 50rem;
    border-radius: 100px;
    padding: 2rem 4rem;
  }

  #contact .content  .contact-container{
    width: 90%;
    flex-direction: row;
    margin-bottom: 3rem;
  }
  #contact .contact-details a:first-child img{
    margin-left: 0;
  }
  #contact .contact-details a:last-child img{
    margin-right: 0;
  }
  #contact .contact-details{
    margin: 1rem 0;
  }
  #contact .content .form{
    width: 52%;
    min-width: 280px;
    padding: 0 0 0 1.5rem;
  }
  #contact .content .form h2{
    margin-top: 0;
 }
  #contact .content .agent{
    width: 48%;
    min-width: 300px;
    padding: 0 1.5rem 0 0;
  }
 .profile{
    margin-bottom: 2rem;
  }
  #contact form button{
   margin: 0.5rem auto 0 0;
  }
}


/* Background Images Adjustments for Desktop Screens*/
@media (min-aspect-ratio: 4/5) {
  #projects, #advantages, #developers{
    background-size: 100%;
  }
}
@media (min-aspect-ratio: 110/85) {
  #cover{
    background-size: 100%;
  }
}
/* @media (min-aspect-ratio: 6/5) {
  
  #cover{
    background-size: 100%;
  }
} */
@media (max-aspect-ratio: 10/8) {
  #advantages, #developers{
    background-size: auto 100% ;
  }
  #projects{
    background-size: 100% 100% ;
  }
}
@media (min-aspect-ratio: 19/10) {
  #cover{
    /* background-position: center -35vh; */
    background-position: bottom -31vh center;
  }
  #projects, #advantages, #developers{
    background-size: 100% auto;
  }

}

/* Form Submit button Spinner */ 
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  opacity: 1;
  transition-duration: 0.7s;
  transition-property: opacity;
}

body.fade {
  opacity: 0;
}

.appear {
  transition: all 0.6s;
  opacity: 0;
  transform: translateY(40px);
}

.appear.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}